<center><h1>Here are your links:</h1>


<% @links.each do |link|  %>
submitted link:
<a href=<%= link.original %>><%= link.original %></a>
     short link:
<a href=<%= link.short %>><%= link.short %></a>

<br>

<%end%>
<br>
<p>Add a <%= link_to "new link", "./new"%></p>

</center>